body {
  font-family: "Inter", sans-serif;
  background-color: #f8f7f4;
  color: #3f3c36;
}
.dark body {
  background-color: #2c2a26;
  color: #d1c9bd;
}
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #e7e5e1;
}
.dark ::-webkit-scrollbar-track {
  background: #3f3c36;
}
::-webkit-scrollbar-thumb {
  background: #c7c1b5;
  border-radius: 4px;
}
.dark ::-webkit-scrollbar-thumb {
  background: #57534e;
}
::-webkit-scrollbar-thumb:hover {
  background: #b4ad9f;
}
.dark ::-webkit-scrollbar-thumb:hover {
  background: #71717a;
}

.code-block {
  background-color: #e7e5e1;
  color: #57534e;
}
.dark .code-block {
  background-color: #3f3c36;
  color: #a8a29e;
}
.nav-link.active {
  background-color: #d1c9bd;
  color: #3f3c36;
  font-weight: 700;
}
.dark .nav-link.active {
  background-color: #57534e;
  color: #f8f7f4;
}
.prose h2 {
  border-bottom: 2px solid #e7e5e1;
}
.dark .prose h2 {
  border-bottom-color: #3f3c36;
}
.prose p,
.prose li {
  color: #57534e;
}
.dark .prose p,
.dark .prose li {
  color: #a8a29e;
}
.prose strong {
  color: #3f3c36;
}
.dark .prose strong {
  color: #f8f7f4;
}
